# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Environment variables
.env

# Data files
*.csv
*.tsv
*.dat
*.h5
*.db

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.bak
*.tmp
*.swp


archive/
archive_2/
models/

#zip files
*.zip